@model List<beta.Models.Image>
@{ 
    int lang = 0;
    int family = 0;
    if (Model[0].Title == "Aviones")     { lang = 2; family = 0; }
    if (Model[0].Title == "Airplanes")      { lang = 1; family = 0; }
    if (Model[0].Title == "Letadla")     { lang = 0; family = 0; }
    if (Model[0].Title == "Bosque Gris") { lang = 2; family = 1; }
    if (Model[0].Title == "Gray Forest") { lang = 1; family = 1; }
    if (Model[0].Title == "Šedý Les")    { lang = 0; family = 1; }
    if (Model[1].Title == "Catamarán") { lang = 2; family = 3; } // [1] !!!
    if (Model[1].Title == "Catamaran") { lang = 1; family = 3; } // [1] !!!
    if (Model[1].Title == "Katamaran") { lang = 0; family = 3; } // [1] !!!
    if (Model[0].Title == "Pintura para niños")    { lang = 2; family = 4; }
    if (Model[0].Title == "Painting for Children") { lang = 1; family = 4; }
    if (Model[0].Title == "Dětská Malba")          { lang = 0; family = 4; }
    string[] Indexes = { "Doma", "Home", "Inicio" };
    string[] stranka = { "Děti", "Interiéry", "Obrazy", "Veřejnost", "Milost" };
    string[] page = { "Children", "Interiors", "Paintings", "Public", "Grace" };
    string[] paginas = { "Niños", "Interiores", "Cuadros", "Público", "Gracia" };
    string[] linkcz = { "Deti", "Interiery", "Obrazy", "Verejnost", "Milost" };
    string[] linken = { "Children", "Interiors", "Paintings", "Public", "Grace" };
    string[] linkes = { "Ninos", "Interiores", "Cuadros", "Publico", "Gracia" };
    string[][] Pages = { stranka, page, paginas };
    string[][] Links = { linkcz, linken, linkes };
    string bottomLinkHome = "/" + Indexes[lang] + "/" + Indexes[lang];
    Random random = new Random();
    int colorMax = 190;
    int colorMin = 100;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/IMG/Start/Icons/abc.ico?" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="~/Styles/General.css" />
    @{
        if (Request.Browser.IsMobileDevice == false)
        {
            <link type="text/css" rel="stylesheet" href="~/Styles/DClass.css" />
        };
    }
    <title>@Pages[lang][family]</title>
    <script type="text/javascript">
        function changer(a) {
            "this.src='/IMG/" + Links[family] + "/hlavni/L/" + a + "'";
        }
    </script>
</head>
<body>
    <h1 class="title">@Pages[lang][family]</h1>
    @if (family == 4)
    {
        if(lang == 0){<p id="milost">Jedno mexické přísloví říká: "Co jste přijali zadarmo, zadarmo darujte". To je přesně to, co pro mne znamená malování: dar. Navzdory tomu, že se jedná o mou práci, která mě fascinuje a že jsem se účastnila několika seminářů o umění, je pro mne umění darovaným talentem. Není to něco, co by vyžadovalo výjimečné úsilí nebo něco s čím bojuji, abych dosáhla výsledku, je to něco, s čím jsem se narodila, já osobně jsem umění pouze objevila na své cestě. Je to darem od Boha, zadarmo. A tak by samotný talent neměl být jen pro mě, měl by být sdílen se všemi, znásoben a vyzdvihnout jméno boží. Pokud máte zájem o živou stěnu v rámci nějakého dobročinného projektu (nemocnice, dětský domov, domov důchodců, uprchlíci, rehabilitační zařízení atd.) nebo jakéhokoliv dalšího zařízení nebo aktivity, která pomáhá rozšířit Boží království, moc ráda jej podpořím a budu jeho součástí a daruji tak dar, který mi byl s takovou láskou dán.</p>}
        else if(lang == 1){<p id="milost">There's a saying that says: "What you have freely given, freely give". That's exactly what painting has been for me: a gift. Even though it's my job, that I love to paint, and that I've taken (and given) many art courses, in the end art is, for me, a given talent. It's not something that requires exhausting work from me, or for me to struggle to attain something, but it is something I was born with, and I only discovered it on the way :) It is a talent which God gave me, gratuitely. And as a talent from him, I know it's not only for me, it's for the rest, to lift His name up. If you want a mural for some kind of social work (Hospital, Orphanage, Senior Houses, Refugees, Rehab...) or any other place or activity where the objective is to expand Gods Kingdom, I'd love to help and take part, and to give gracefully that grace which, so lovingly, has been given to me.</p>}
        else {<p id="milost">Hay un dicho que dice: "Lo que ustedes recibieron gratis, denlo gratuitamente". Eso es justo lo que ha sido la pintura para mí: un regalo. A pesar de que es mi trabajo, de que me superfascina pintar, y que he tomado (y dado) varios cursos de arte, en realidad, el arte, para mi, es un talento dado. No es algo que me cuesta un trabajo excepcional, o que batalle para lograr algo, en realidad, es algo con lo que nací, yo nada más lo descubrí en el camino :) Es un talento que Dios me dio, gratuitamente. Y como talento suyo, sé que no es nada más para mí, es para los demás, para multiplicarlo y levantar Su nombre. Si quieres un mural para algún tipo de obra social (hospital, casa hogar para niños o ancianos, enfermos, refugiados, rehab, etc) o cualquier lugar o actividad donde se busque expandir el Reino de Dios, me encantaría apoyar y ser parte, y dar de gracia esa gracia que a mí, con tanto amor, me ha sido dada.</p>}
    }
    <div id="mainColumn">
        <div class="column" id="leftColumn">
            @for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                if (i % 2 != 1)
                {
                    continue;
                }
                int rN = random.Next(colorMin, colorMax);
                string end = @item.Abrev + "P.JPG";
                string link = "/IMG/" + Links[0][family] + "/hlavni/S/" + end;
                string Plink = "/" + Links[lang][family] + "/" + @item.Abrev;
                <a href="@Plink" id="@item.Abrev" class="columnItem" style="background-color:rgb(@rN,@rN,@rN);">
                    <img src="@link" alt="@item.Abrev" onload="this.src='/IMG/@Links[0][family]/hlavni/L/@end'" />
                    <p class="desc">@item.Title</p>
                    <p class="desc">@item.Length</p>
                </a>
            }
        </div>
        <div class="column" id="rightColumn">

            @for (int f = 0; f < Model.Count; f++)
            {
                var item = Model[f];
                if (f % 2 == 1)
                {
                    continue;
                }
                int rN = random.Next(colorMin, colorMax);
                string end = @item.Abrev + "P.JPG";
                string link = "/IMG/" + Links[0][family] + "/hlavni/S/" + end;
                string Plink = "/" + Links[lang][family] + "/" + @item.Abrev;
                <a href="@Plink" id="@item.Abrev" class="columnItem" style="background-color:rgb(@rN,@rN,@rN);">
                    <img src="@link" alt="@item.Abrev" onload="this.src='/IMG/@Links[0][family]/hlavni/L/@end'" />
                    <p class="desc">@item.Title</p>
                    <p class="desc">@item.Length</p>
                </a>
            }
            <div id="fullup" class="columnItem" style="height:0"></div>
        </div>
    </div>
    <div id="bottom" style="margin-top:4em!important;">
        <a class="link" href="@bottomLinkHome"><p>@Indexes[lang]</p></a>
        @for (int linkNumber = 0; linkNumber < 5; linkNumber++)
        {
            if (linkNumber == family) { continue; }
            string bottomLink = "/" + Indexes[lang] + "/" + Links[lang][linkNumber];
            <a class="link" href="@bottomLink"><p>@Pages[lang][linkNumber]</p></a>
        }
    </div>
</body>
</html>