@model beta.Models.SubClass
@{ 
    Layout = null;
    string[] Indexes = { "Doma", "Home", "Inicio" };
    string[] nazev = { "živá stěna", "malířství" };
    string[] title = { "ziva stena", "murals" };
    string[] titulo = { "paredviva", "murales" };
    string[] stranka = { "Děti", "Interiéry", "Obrazy", "Veřejnost", "Milost" };
    string[] page = { "Children", "Interiors", "Paintings", "Public", "Grace" };
    string[] paginas = { "Niños", "Interiores", "Cuadros", "Público", "Gracia" };
    string[] linkcz = { "Deti", "Interiery", "Obrazy", "Verejnost", "Milost" };
    string[] linken = { "Children", "Interiors", "Paintings", "Public", "Grace" };
    string[] linkes = { "Ninos", "Interiores", "Cuadros", "Publico", "Gracia" };
    string[] IDS = { "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t" };
    string[][] Titles = { nazev, title, titulo };
    string[][] Pages = { stranka, page, paginas };
    string[][] Links = { linkcz, linken, linkes };
    int Lang = 0;
}

<!DOCTYPE html>
<html>
<head>
    <title>@Titles[Lang][0]</title>
    <link rel="shortcut icon" href="/IMG/Start/Icons/abc.ico?" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="~/Styles/General.css">
    @{
        if (Request.Browser.IsMobileDevice == false)
        {
            <link type="text/css" rel="stylesheet" href="~/Styles/DSubClass.css" />
            <script>
            var IDS = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t"];
            function resize() {
                var length = 0;
                for (var j = 0; j < IMGS.length; j++) {
                    length = length + document.getElementById(IDS[j]).offsetWidth;
                }
                document.getElementById("lScroll").style.width = length + "px";
                length = 0;
            }
            </script>
        };
    }
    <meta charset="utf-8">
</head>
<body onresize="resize()" onload="resize()">
    <div id="container">
        <div class="verticalScroll" id="lScroll">
            @for (int linkNumber = 0; linkNumber < Model.Count; linkNumber++)
            {
                string doubleID = IDS[linkNumber] + IDS[linkNumber];
                string path = "/IMG/" + Links[0][Model.Family] + "/S/" + Model.Abrev + (linkNumber + 1) + ".jpg";
                string Lpath = "/IMG/" + Links[0][Model.Family] + "/L/" + Model.Abrev + (linkNumber + 1) + ".jpg";
                <a id="@IDS[linkNumber]"><img id="@doubleID" alt="Mural" src="@path" onload="this.src='@Lpath'" onerror="document.getElementById('@IDS[linkNumber]').style.display='none'"/></a>
            }
        </div>
    </div>
    <div id="bottom">
        <a class="link" href="~/@Indexes[Lang]/@Indexes[Lang]"><p>@Indexes[Lang]</p></a>
        @for (int linkCount = 0; linkCount < 5; linkCount++)
        {
            <a class="link" href="~/@Indexes[Lang]/@Links[Lang][linkCount]"><p>@Pages[Lang][linkCount]</p></a>
        }
    </div>
</body>
</html>
